*~
.*.swp
lib/*.lib
lib/*.a
lib/*.so
lib/*.o
obj/*.obj
obj/*.o
test/obj/*.obj
test/obj/*.o
examples/obj/*.obj
examples/obj/*.o
precalc/obj/*.obj
precalc/obj/*.o
tab/*.inc
make.exe
testall.exe
testall
tstcrc.exe
tstcrc
bin/prc.exe
bin/prc
*.o
*.so
*.a
*.lib
*.pc
Makefile
install_manifest.txt
CMakeCache.txt
CMakeFiles/
*.cmake
